<% content_for :page_title, "Edit Contact List" %>

<div class="show-breadcrumb">
  <%= link_to "Back to Lists", contact_lists_path %>
</div>

<div class="page-header">
  <h2 class="page-header__title">Edit Contact List</h2>
  <p class="page-header__description">Update information for <%= @contact_list.name %></p>
</div>

<div class="max-w-800">
  <%= render "form", contact_list: @contact_list %>
</div>
