<div id="<%= dom_id audience %>">
  <div>
    <strong>Name:</strong>
    <%= audience.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= audience.description %>
  </div>

  <div>
    <strong>Slack channel:</strong>
    <%= audience.slack_channel %>
  </div>

</div>
